#console {
    display: flex;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    flex: 1 0 0;
    overflow: auto;
    white-space: pre-wrap;
    max-height: calc(85vh - 5.5rem);
    user-select: text!important;
    border-radius: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.10);
    background: #101016;
    align-self: stretch;
    flex-direction: column;
    user-select: none;
    flex-wrap: nowrap;
}
#console p{
    margin:0;
}

#console::-webkit-scrollbar {
	width: 0.375rem; /* Adjusted width */
}

#console::-webkit-scrollbar-track {
	border-radius: 6.25rem;
	background: #27272D;
	margin-right: 0.5rem; /* Existing padding effect */
}

#console::-webkit-scrollbar-thumb {
	border-radius: 6.25rem;
	background: #FFF;
	margin-right: 0.5rem; /* Existing padding effect */
}

